.mainContainer{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.content{
    background-color: #A5C9CA;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px 5px 10px 5px;
    margin-top: 200px;
}

.content h1{
    font-size: 30px;
}
.content label{
    font-size: 18px;
    font-weight: bold;
}
input{
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.btn{
    margin-top: 10px;
    font-weight: bolder;
    font-size:  15px;
}

.card{
  
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}